<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Spriv App", root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav pull-right navbar-right">
      <li><%= link_to "Authentication Methods", login_path %></li>
      <li><%= link_to "User Management", users_path %></li>
    </ul>
  </div>
</nav>
